name: Deploy SteelEagle Docker image

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      free_disk_space:
        description: 'Whether to free disk space in the runner'
        type: boolean
        default: false
      ctx:
        required: true
        type: string
        default: '.'
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Free Disk Space
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: false
        docker-images: false
        swap-storage: false
      if: ${{ inputs.free_disk_space }}

    - uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set Docker image tag
      id: get_tag
      run: |
        if [ "${{ github.ref_name }}" == "master" ]; then
          echo "tag=latest" >> "$GITHUB_OUTPUT"
        else
          echo "tag=${{ github.ref_name }}" >> "$GITHUB_OUTPUT"
        fi

    - name: Build and push image
      uses: docker/build-push-action@v6
      with:
        context: ${{ inputs.ctx }}
        file: ${{ inputs.dockerfile }}
        push: true
        tags: cmusatyalab/${{ inputs.name }}:${{ steps.get_tag.outputs.tag }}
        #cache-from: type=registry,ref=cmusatyalab/${{ inputs.name }}:latest
        #cache-to: type=inline
